<h1>Sign Up Form</h1>

<form acition="/register" method="POST">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="password">
	<button>Submit</button>
</form>


<a href="/login">Login!</a><br>
<a href="/">Back</a>


